<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIMME YO MONEY</title>
  </head>
  <body>
    <center>
    <h1>Kylie's Awesome Cart List</h1>
    <h3>... what, what, what, what.</h3>
    <div class="container">
      <fieldset>
        <form action="/list" method="GET">
          <button>Get Cart List</button>
        </form>
        <form action="/addItem" method="GET">
          <button>Add Item</button>
        </form>
      </fieldset>
    </div>
    </center>
  </body>
</html>