<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIMME YO MONEY</title></head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/list" method="GET">
          <button>Get Shopping List</button>
        </form>
        <form action="/addItem" method="GET">
          <button>Add Item</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>